interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:NumberToWords
      xmlns:ns0="http://www.dataaccess.com/webservicesserver/"><ns0:ubiNum>42</ns0:ubiNum></ns0:NumberToWords></soap-env:Body></soap-env:Envelope>'
    headers:
      content-type:
      - text/xml; charset=utf-8
      soapaction:
      - '""'
    method: POST
    uri: https://www.dataaccess.com/webservicesserver/NumberConversion.wso
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\r\n
      \ <soap:Body>\r\n    <m:NumberToWordsResponse xmlns:m=\"http://www.dataaccess.com/webservicesserver/\">\r\n
      \     <m:NumberToWordsResult>forty two </m:NumberToWordsResult>\r\n    </m:NumberToWordsResponse>\r\n
      \ </soap:Body>\r\n</soap:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Web-Service:
      - DataFlex 19.1
    status_code: 200
version: 1
