interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://wttr.in/amsterdam?format=j1
  response:
    content: "{\n    \"current_condition\": [\n        {\n            \"FeelsLikeC\":
      \"8\",\n            \"FeelsLikeF\": \"47\",\n            \"cloudcover\": \"75\",\n
      \           \"humidity\": \"87\",\n            \"localObsDateTime\": \"2023-02-18
      04:18 PM\",\n            \"observation_time\": \"03:18 PM\",\n            \"precipInches\":
      \"0.0\",\n            \"precipMM\": \"0.2\",\n            \"pressure\": \"1018\",\n
      \           \"pressureInches\": \"30\",\n            \"temp_C\": \"11\",\n            \"temp_F\":
      \"52\",\n            \"uvIndex\": \"3\",\n            \"visibility\": \"10\",\n
      \           \"visibilityMiles\": \"6\",\n            \"weatherCode\": \"116\",\n
      \           \"weatherDesc\": [\n                {\n                    \"value\":
      \"Partly cloudy\"\n                }\n            ],\n            \"weatherIconUrl\":
      [\n                {\n                    \"value\": \"\"\n                }\n
      \           ],\n            \"winddir16Point\": \"WSW\",\n            \"winddirDegree\":
      \"250\",\n            \"windspeedKmph\": \"35\",\n            \"windspeedMiles\":
      \"22\"\n        }\n    ],\n    \"nearest_area\": [\n        {\n            \"areaName\":
      [\n                {\n                    \"value\": \"Amsterdam\"\n                }\n
      \           ],\n            \"country\": [\n                {\n                    \"value\":
      \"Netherlands\"\n                }\n            ],\n            \"latitude\":
      \"52.374\",\n            \"longitude\": \"4.890\",\n            \"population\":
      \"741636\",\n            \"region\": [\n                {\n                    \"value\":
      \"North Holland\"\n                }\n            ],\n            \"weatherUrl\":
      [\n                {\n                    \"value\": \"\"\n                }\n
      \           ]\n        }\n    ],\n    \"request\": [\n        {\n            \"query\":
      \"Lat 52.37 and Lon 4.90\",\n            \"type\": \"LatLon\"\n        }\n    ],\n
      \   \"weather\": [\n        {\n            \"astronomy\": [\n                {\n
      \                   \"moon_illumination\": \"8\",\n                    \"moon_phase\":
      \"Waning Crescent\",\n                    \"moonrise\": \"07:34 AM\",\n                    \"moonset\":
      \"03:03 PM\",\n                    \"sunrise\": \"07:51 AM\",\n                    \"sunset\":
      \"05:59 PM\"\n                }\n            ],\n            \"avgtempC\": \"10\",\n
      \           \"avgtempF\": \"50\",\n            \"date\": \"2023-02-18\",\n            \"hourly\":
      [\n                {\n                    \"DewPointC\": \"7\",\n                    \"DewPointF\":
      \"45\",\n                    \"FeelsLikeC\": \"6\",\n                    \"FeelsLikeF\":
      \"44\",\n                    \"HeatIndexC\": \"9\",\n                    \"HeatIndexF\":
      \"47\",\n                    \"WindChillC\": \"6\",\n                    \"WindChillF\":
      \"44\",\n                    \"WindGustKmph\": \"22\",\n                    \"WindGustMiles\":
      \"13\",\n                    \"chanceoffog\": \"0\",\n                    \"chanceoffrost\":
      \"0\",\n                    \"chanceofhightemp\": \"0\",\n                    \"chanceofovercast\":
      \"87\",\n                    \"chanceofrain\": \"0\",\n                    \"chanceofremdry\":
      \"86\",\n                    \"chanceofsnow\": \"0\",\n                    \"chanceofsunshine\":
      \"11\",\n                    \"chanceofthunder\": \"0\",\n                    \"chanceofwindy\":
      \"0\",\n                    \"cloudcover\": \"80\",\n                    \"humidity\":
      \"92\",\n                    \"precipInches\": \"0.0\",\n                    \"precipMM\":
      \"0.0\",\n                    \"pressure\": \"1021\",\n                    \"pressureInches\":
      \"30\",\n                    \"tempC\": \"9\",\n                    \"tempF\":
      \"47\",\n                    \"time\": \"0\",\n                    \"uvIndex\":
      \"1\",\n                    \"visibility\": \"10\",\n                    \"visibilityMiles\":
      \"6\",\n                    \"weatherCode\": \"119\",\n                    \"weatherDesc\":
      [\n                        {\n                            \"value\": \"Cloudy\"\n
      \                       }\n                    ],\n                    \"weatherIconUrl\":
      [\n                        {\n                            \"value\": [...]
