interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://wttr.in/amsterdam?format=j1
  response:
    content: "{\n    \"current_condition\": [\n        {\n            \"FeelsLikeC\":
      \"5\",\n            \"FeelsLikeF\": \"41\",\n            \"cloudcover\": \"25\",\n
      \           \"humidity\": \"71\",\n            \"localObsDateTime\": \"2023-02-10
      03:59 PM\",\n            \"observation_time\": \"02:59 PM\",\n            \"precipInches\":
      \"0.0\",\n            \"precipMM\": \"0.0\",\n            \"pressure\": \"1034\",\n
      \           \"pressureInches\": \"31\",\n            \"temp_C\": \"8\",\n            \"temp_F\":
      \"46\",\n            \"uvIndex\": \"3\",\n            \"visibility\": \"10\",\n
      \           \"visibilityMiles\": \"6\",\n            \"weatherCode\": \"116\",\n
      \           \"weatherDesc\": [\n                {\n                    \"value\":
      \"Partly cloudy\"\n                }\n            ],\n            \"weatherIconUrl\":
      [\n                {\n                    \"value\": \"\"\n                }\n
      \           ],\n            \"winddir16Point\": \"WSW\",\n            \"winddirDegree\":
      \"240\",\n            \"windspeedKmph\": \"26\",\n            \"windspeedMiles\":
      \"16\"\n        }\n    ],\n    \"nearest_area\": [\n        {\n            \"areaName\":
      [\n                {\n                    \"value\": \"Amsterdam\"\n                }\n
      \           ],\n            \"country\": [\n                {\n                    \"value\":
      \"Netherlands\"\n                }\n            ],\n            \"latitude\":
      \"52.374\",\n            \"longitude\": \"4.890\",\n            \"population\":
      \"741636\",\n            \"region\": [\n                {\n                    \"value\":
      \"North Holland\"\n                }\n            ],\n            \"weatherUrl\":
      [\n                {\n                    \"value\": \"\"\n                }\n
      \           ]\n        }\n    ],\n    \"request\": [\n        {\n            \"query\":
      \"Lat 52.37 and Lon 4.90\",\n            \"type\": \"LatLon\"\n        }\n    ],\n
      \   \"weather\": [\n        {\n            \"astronomy\": [\n                {\n
      \                   \"moon_illumination\": \"84\",\n                    \"moon_phase\":
      \"Waning Gibbous\",\n                    \"moonrise\": \"11:03 PM\",\n                    \"moonset\":
      \"09:52 AM\",\n                    \"sunrise\": \"08:06 AM\",\n                    \"sunset\":
      \"05:44 PM\"\n                }\n            ],\n            \"avgtempC\": \"5\",\n
      \           \"avgtempF\": \"41\",\n            \"date\": \"2023-02-10\",\n            \"hourly\":
      [\n                {\n                    \"DewPointC\": \"1\",\n                    \"DewPointF\":
      \"34\",\n                    \"FeelsLikeC\": \"0\",\n                    \"FeelsLikeF\":
      \"33\",\n                    \"HeatIndexC\": \"3\",\n                    \"HeatIndexF\":
      \"37\",\n                    \"WindChillC\": \"0\",\n                    \"WindChillF\":
      \"33\",\n                    \"WindGustKmph\": \"20\",\n                    \"WindGustMiles\":
      \"13\",\n                    \"chanceoffog\": \"0\",\n                    \"chanceoffrost\":
      \"0\",\n                    \"chanceofhightemp\": \"0\",\n                    \"chanceofovercast\":
      \"0\",\n                    \"chanceofrain\": \"0\",\n                    \"chanceofremdry\":
      \"91\",\n                    \"chanceofsnow\": \"0\",\n                    \"chanceofsunshine\":
      \"86\",\n                    \"chanceofthunder\": \"0\",\n                    \"chanceofwindy\":
      \"0\",\n                    \"cloudcover\": \"0\",\n                    \"humidity\":
      \"89\",\n                    \"precipInches\": \"0.0\",\n                    \"precipMM\":
      \"0.0\",\n                    \"pressure\": \"1034\",\n                    \"pressureInches\":
      \"31\",\n                    \"tempC\": \"3\",\n                    \"tempF\":
      \"37\",\n                    \"time\": \"0\",\n                    \"uvIndex\":
      \"1\",\n                    \"visibility\": \"10\",\n                    \"visibilityMiles\":
      \"6\",\n                    \"weatherCode\": \"113\",\n                    \"weatherDesc\":
      [\n                        {\n                            \"value\": \"Clear\"\n
      \                       }\n                    ],\n                    \"weatherIconUrl\":
      [\n                        {\n                            \"value\": \[...]
