interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:ListOfContinentsByName
      xmlns:ns0="http://www.oorsprong.org/websamples.countryinfo"/></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\r\n
        \ <soap:Body>\r\n    <m:ListOfContinentsByNameResponse xmlns:m=\"http://www.oorsprong.org/websamples.countryinfo\">\r\n
        \     <m:ListOfContinentsByNameResult>\r\n        <m:tContinent>\r\n          <m:sCode>AF</m:sCode>\r\n
        \         <m:sName>Africa</m:sName>\r\n        </m:tContinent>\r\n        <m:tContinent>\r\n
        \         <m:sCode>AN</m:sCode>\r\n          <m:sName>Antarctica</m:sName>\r\n
        \       </m:tContinent>\r\n        <m:tContinent>\r\n          <m:sCode>AS</m:sCode>\r\n
        \         <m:sName>Asia</m:sName>\r\n        </m:tContinent>\r\n        <m:tContinent>\r\n
        \         <m:sCode>EU</m:sCode>\r\n          <m:sName>Europe</m:sName>\r\n
        \       </m:tContinent>\r\n        <m:tContinent>\r\n          <m:sCode>OC</m:sCode>\r\n
        \         <m:sName>Ocenania</m:sName>\r\n        </m:tContinent>\r\n        <m:tContinent>\r\n
        \         <m:sCode>AM</m:sCode>\r\n          <m:sName>The Americas</m:sName>\r\n
        \       </m:tContinent>\r\n      </m:ListOfContinentsByNameResult>\r\n    </m:ListOfContinentsByNameResponse>\r\n
        \ </soap:Body>\r\n</soap:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Web-Service:
      - DataFlex 19.1
    status:
      code: 200
      message: OK
version: 1
