interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://wttr.in/amsterdam?format=j1
  response:
    content: "{\n    \"current_condition\": [\n        {\n            \"FeelsLikeC\":
      \"-1\",\n            \"FeelsLikeF\": \"31\",\n            \"cloudcover\": \"0\",\n
      \           \"humidity\": \"93\",\n            \"localObsDateTime\": \"2023-02-09
      10:32 PM\",\n            \"observation_time\": \"09:32 PM\",\n            \"precipInches\":
      \"0.0\",\n            \"precipMM\": \"0.0\",\n            \"pressure\": \"1034\",\n
      \           \"pressureInches\": \"31\",\n            \"temp_C\": \"2\",\n            \"temp_F\":
      \"36\",\n            \"uvIndex\": \"1\",\n            \"visibility\": \"10\",\n
      \           \"visibilityMiles\": \"6\",\n            \"weatherCode\": \"113\",\n
      \           \"weatherDesc\": [\n                {\n                    \"value\":
      \"Clear\"\n                }\n            ],\n            \"weatherIconUrl\":
      [\n                {\n                    \"value\": \"\"\n                }\n
      \           ],\n            \"winddir16Point\": \"SW\",\n            \"winddirDegree\":
      \"230\",\n            \"windspeedKmph\": \"11\",\n            \"windspeedMiles\":
      \"7\"\n        }\n    ],\n    \"nearest_area\": [\n        {\n            \"areaName\":
      [\n                {\n                    \"value\": \"Amsterdam\"\n                }\n
      \           ],\n            \"country\": [\n                {\n                    \"value\":
      \"Netherlands\"\n                }\n            ],\n            \"latitude\":
      \"52.374\",\n            \"longitude\": \"4.890\",\n            \"population\":
      \"741636\",\n            \"region\": [\n                {\n                    \"value\":
      \"North Holland\"\n                }\n            ],\n            \"weatherUrl\":
      [\n                {\n                    \"value\": \"\"\n                }\n
      \           ]\n        }\n    ],\n    \"request\": [\n        {\n            \"query\":
      \"Lat 52.37 and Lon 4.90\",\n            \"type\": \"LatLon\"\n        }\n    ],\n
      \   \"weather\": [\n        {\n            \"astronomy\": [\n                {\n
      \                   \"moon_illumination\": \"91\",\n                    \"moon_phase\":
      \"Waning Gibbous\",\n                    \"moonrise\": \"09:50 PM\",\n                    \"moonset\":
      \"09:42 AM\",\n                    \"sunrise\": \"08:08 AM\",\n                    \"sunset\":
      \"05:42 PM\"\n                }\n            ],\n            \"avgtempC\": \"4\",\n
      \           \"avgtempF\": \"38\",\n            \"date\": \"2023-02-09\",\n            \"hourly\":
      [\n                {\n                    \"DewPointC\": \"-7\",\n                    \"DewPointF\":
      \"20\",\n                    \"FeelsLikeC\": \"-2\",\n                    \"FeelsLikeF\":
      \"28\",\n                    \"HeatIndexC\": \"1\",\n                    \"HeatIndexF\":
      \"34\",\n                    \"WindChillC\": \"-2\",\n                    \"WindChillF\":
      \"28\",\n                    \"WindGustKmph\": \"22\",\n                    \"WindGustMiles\":
      \"14\",\n                    \"chanceoffog\": \"0\",\n                    \"chanceoffrost\":
      \"10\",\n                    \"chanceofhightemp\": \"0\",\n                    \"chanceofovercast\":
      \"0\",\n                    \"chanceofrain\": \"0\",\n                    \"chanceofremdry\":
      \"83\",\n                    \"chanceofsnow\": \"0\",\n                    \"chanceofsunshine\":
      \"85\",\n                    \"chanceofthunder\": \"0\",\n                    \"chanceofwindy\":
      \"0\",\n                    \"cloudcover\": \"16\",\n                    \"humidity\":
      \"56\",\n                    \"precipInches\": \"0.0\",\n                    \"precipMM\":
      \"0.0\",\n                    \"pressure\": \"1032\",\n                    \"pressureInches\":
      \"30\",\n                    \"tempC\": \"1\",\n                    \"tempF\":
      \"34\",\n                    \"time\": \"0\",\n                    \"uvIndex\":
      \"1\",\n                    \"visibility\": \"10\",\n                    \"visibilityMiles\":
      \"6\",\n                    \"weatherCode\": \"113\",\n                    \"weatherDesc\":
      [\n                        {\n                            \"value\": \"Clear\"\n
      \                       }\n                    ],\n                    \"weatherIconUrl\":
      [\n                        {\n                            \"value\": \[...]
